<header>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-lg-8">
                <h1 class="center-block">Yo, Presidente <small>Mi Comunidad</small></h1>

            </div>
        </div>
    </div>


</header>