<div class="jumbotron">
<form role="form"  action="{{ path('login_check') }}" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" id="username" name="_username"
               value="{{ last_username }}" />
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input class="form-control" type="password" id="password" name="_password" />
    </div>
    <div class="form-group">

        <a href="{{ path('registro') }}">Registrarse</a>
    </div>
    <div class="pull-right">
    <button type="submit"  name="login" class="btn btn-primary">Entrar</button>
        </div>
</form>
</div>

