<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('comunidad') }}">Yo, Presidente</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class=""><a href="{{path('create_propietario') }}"><span class="glyphicon glyphicon-plus"></span> Añadir Propietario</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">Hola {{ app.user.username }}</p></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('edit_user') }} "><span class="glyphicon glyphicon-star"> </span> Perfil</a></li>
                        <li><a href="{{ path('edit_comunidad') }}"><span class="glyphicon glyphicon-home"> </span> Mi Comunidad</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-off"> </span> Cerrar</a></li>

                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>