{%  extends '::base.html.twig' %}

{% block  title %}Yo Presidente - Portada {% endblock title %}

{% block body %}
    {% block header %}  {% include '::partials/header.html.twig' %} {%  endblock header %}
    <!--incluir esto si estamos logueados -->


    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-lg-4">
                {% include '::partials/loginForm.html.twig' %}

            </div>



        </div>
    </div>


{% endblock %}