{%  extends '::base.html.twig' %}

{% block  title %}Login{% endblock title %}

    {% block body %}

    <!--incluir esto si estamos logueados -->
    {% include '::partials/nav.html.twig' %}

        <div class="jumbotron">
            <h1>Mi Comunidad</h1>
            <p>Nombre: {{ comunidad.nombre }}</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-offset-3  col-lg-6">
                    <table class="table table-hover table-condensed">

                    <tr>
                        <th>Nombre</th>
                        <th>DNI</th>
                        <th>Acciones</th>
                    </tr>

                    {% for propietario in propietarios %}
                    <tr>
                        <td>{{ propietario.nombre }}</td>
                        <td>{{ propietario.dni }}</td>
                        <td>
                            <a href="{{ path('edit_propietario',{'id':propietario.id}) }}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> </a>
                            <a href="{{ path('delete_propietario',{'id':propietario.id}) }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> </a>

                        </td>
                    </tr>
                    {% endfor %}

                    </table>
                </div>
            </div>
        </div>





{% endblock %}