{%  extends '::base.html.twig' %}
{% form_theme formulario 'UsuarioBundle:Form:form.html.twig' %}

{% block  title %}Login{% endblock title %}

    {% block body %}

        <!--incluir esto si estamos logueados -->
        {% include '::partials/nav.html.twig' %}
        <div class="container">
        <div class="row">
        <div class="col-md-offset-3 col-lg-6">
        <form action="" method="post" {{
        form_enctype(formulario) }}>
            <button type="submit" class="btn btn-primary">Guardar</button>
            {{ form_widget(formulario) }}
        </form>
        </div>
        </div>
        </div>






    {% endblock %}