{%  extends '::base.html.twig' %}

{% block  title %}Login{% endblock title %}

{% block body %}
    {% block header %}
        {% include '::partials/header.html.twig' %}
    {%  endblock header %}
    <!--incluir esto si estamos logueados -->


    <div class="container">
        <div class="row">

            {% for mensaje in app.session.flashbag.get('info') %}
                <p class="alert alert-info">{{ mensaje }}</p>
            {% endfor %}
            <div class="col-md-offset-4 col-lg-4">
                {% if error %}
                    <div class="alert alert-danger">{{ error.message }}</div>
                {% endif %}
                {% include '::partials/loginForm.html.twig' %}
            </div>
        </div>
    </div>


{% endblock %}