{%  extends '::base.html.twig' %}
{% form_theme formulario 'UsuarioBundle:Form:form.html.twig' %}

{% block  title %}Crear Usuario{% endblock title %}

    {% block body %}
        {% if edit== true %}
            {% include '::partials/nav.html.twig' %}
        {% endif %}
        <div class="container">
            <div class="row">

                <div class="col-md-offset-3 col-lg-6">
                    <div class="jumbotron">
                    <form action="{{ path(ruta) }}" method="post" {{
                    form_enctype(formulario) }}>

                        {{ form_widget(formulario) }}
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}